[submodule "deps/glm"]
	path = deps/glm
	url = https://github.com/g-truc/glm.git
[submodule "deps/MSL"]
	path = deps/MSL
	url = https://github.com/Kaosumaru/MSL.git
[submodule "deps/RPNParser"]
	path = deps/RPNParser
	url = https://github.com/Kaosumaru/RPNParser.git
[submodule "deps/cpp17_headers"]
	path = deps/cpp17_headers
	url = https://github.com/tcbrindle/cpp17_headers.git
[submodule "deps/litehtml"]
	path = deps/litehtml
	url = https://github.com/litehtml/litehtml.git
[submodule "deps/EmTools"]
	path = deps/EmTools
	url = https://github.com/Kaosumaru/EmTools
